{% extends 'mysecret/base.html' %}
{% load static %}
{% block content %}
{% include 'mysecret/includes/navigation.html' %}
    <!-- Page wrapper starts here -->
    <main role="main" class="wrapper mb-4">
        <div class="container mt-4">
            <h2 class="display-4 text-center mt-4 mb-3">Sign Up</h2>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="password1" class="form-label">Password</label>
                            <input type="password" id="password1" name="password1" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="password2" class="form-label">Confirm Password</label>
                            <input type="password" d="password2" name="password2" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    <p class="mt-3">Already have an account? <a href="{% url 'sign_in' %}">Login here</a></p>
                </div>
            </div>
        </div>
    </main>
    <!-- Page wrapper stops here -->
{% endblock %}