{% extends 'mysecret/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'mysecret/includes/navigation.html' %}
    <!-- Page wrapper starts here -->
    <main role="main" id="wrapper" class="wrapper mb-4 mt-4">

        <div class="container mb-4 mt-4">
            {% include 'mysecret/includes/alerts.html' %}
            <div class="row">
                <div class="col-md-4 offset-md-4 mb-4">
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend><h2 class="display-4 text-center mt-4 mb-3">{{ title }}</h2></legend>
                            {{ form|crispy }}
                        </fieldset>
                        <a href="{% if back_url %} {{ back_url }} {% else %} {% url 'profile_page' %} {% endif %}" class="btn btn-outline-secondary btn-lg">&lt;&lt; Back</a>
                        <button type="submit" class="btn btn-outline-warning btn-lg">Save Secret</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Page wrapper stops here -->
{% endblock %}