{% extends 'mysecret/base.html' %}
{% block content %}
{% include 'mysecret/includes/navigation.html' %}
    <!-- Page wrapper starts here -->
    <main role="main" id="wrapper" class="wrapper mb-4 mt-4">

        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h4 class="pt-3">
                        Password Reset Successful!
                    </h4>
                    <p class="text-muted text-center">
                        Your password reset was successful. You can now login <a href="{% url 'sign_in' %}">HERE</a>
                    </p>
                </div>
            </div>
        </div>

    </main>
    <!-- Page wrapper stops here -->
{% endblock %}