{% extends 'mysecret/base.html' %}
{% block content %}
{% include 'mysecret/includes/navigation.html' %}
    <!-- Page wrapper starts here -->
    <main role="main" id="wrapper" class="wrapper mb-4 mt-4">

        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h2 class="pt-3">
                        Password Reset Mail Sent!
                    </h2>
                    <p class="text-muted text-center">
                        An email has been sent to your registered email address with instructions on how to reset your password. Please, check your inbox! 
                    </p>
                </div>
            </div>
        </div>

    </main>
    <!-- Page wrapper stops here -->
{% endblock %}