{% extends 'mysecret/base.html' %}
{% load static %}
{% block content %}
{% include 'mysecret/includes/profile_navigation.html' %}
    <!-- Page wrapper starts here -->
    <main role="main" id="wrapper" class="wrapper mb-4 mt-4">
        <div class="container mb-4 mt-4">
            {% include 'mysecret/includes/alerts.html' %}
            <div class="row">
                <div class="col-md-8 offset-md-2 mb-4">
                    <article class="card mb-2">
                        <img class="card-img-top rounded-circle img-fluid" src="{{ secret.author.profile.avatar.url }}" alt="{{ secret.author.profile.username|capfirst }}'s' Avatar" style="width: 80px;">
                        <div class="card-header">
                            <h2><p class="card-title text-muted" href="">{{ secret.secret_title|capfirst }}</p></h2>
                            <a class="mr-2" href="">{{ secret.secret_user_id }}</a>
                                <small class="text-muted">{{ secret.date_created|date:"F d, Y" }}</small>
                                <p class="mt-2 mb-2 py-2">
                                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'profile_page' %}">&lt;&lt; Back</a>    
                                    <a class="btn btn-outline-danger btn-sm" href="{% url 'confirm_secret_delete' secret.secret_id %}">Delete</a>    
                                    <a class="btn btn-outline-warning btn-sm" href="{% url 'secret_update' secret.secret_id %}">Modify</a>  
                                </p>
                        </div>
                        <div class="card-body">  
                            <p>{{ secret.secret_content }}</p>                          
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-secondary btn-sm" href="{% url 'profile_page' %}">&lt;&lt; Back</a>    
                            <a class="btn btn-outline-danger btn-sm" href="{% url 'confirm_secret_delete' secret.secret_id %}">Delete</a>    
                            <a class="btn btn-outline-warning btn-sm" href="{% url 'secret_update' secret.secret_id %}">Modify</a>    
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </main>
    <!-- Page wrapper stops here -->
{% endblock %}