{% extends 'mysecret/base.html' %}
{% block content %}
{% include 'mysecret/includes/profile_navigation.html' %}
    <!-- Page wrapper starts here -->
    <main role="main" id="wrapper" class="wrapper mb-4 mt-4">

        <div class="container mb-4 mt-4">
            {% include 'mysecret/includes/alerts.html' %}
            <div class="row">
                <div class="col-md-4 offset-md-4 mb-4">
                    <form method="post" action="{% url 'delete_secret' secret.secret_id %}">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Delete Post</legend>
                            <h2 class="text-center mt-4 mb-3">Are you sure you want to delete this post <span id="delete_secret">"{{ secret.secret_title }}"</span>?</h2>
                        </fieldset>
                        <a href="{% if back_url %} {{ back_url }} {% else %} {% url 'profile_page' %} {% endif %}" class="btn btn-outline-secondary btn-lg">Cancel</a>
                        <button type="submit" class="btn btn-outline-danger btn-lg">Yes! Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Page wrapper stops here -->
{% endblock %}