{% load static %} 
        <!-- About section starts here -->
        <section id="about" class="container mt-4 pt-4">
            <h2 class="display-4 text-center mt-4 mb-3">About</h2>
            <div class="row justify-content-center">
                <div class="col-md-6 mb-4 pt-4"> <img src="{% static 'mysecret/imgs/secrets.jpg' %}" alt="Design" class="card-img-top img-fluid"></div>
                <div class="col-md-6 mb-4 pt-4">
                    <div class="card">
                        <div class="card-body">                            
                            <p class="card-text">Everyone has something they have done, are presently doing or participating in, or will do in a future scheduled time: “SECRETS” – This is what it is called.</p>
                            <p><span id="blue-logo">app</span><span id="red-logo">Secrets</span> can help you manage your secrets which spans from scopes/topics to personal feelings, plans, surprises, or even information with broader implications.</p>
                            <p>I have always loved to do things simple but fun.... </p>
                        </div>
                        <div class="card-footer py-4">
                            <a href="{% url 'about_page' %}" class="btn btn-secondary">Read More &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About section stops here  -->