{% load static %}   <!-- Footer Section Stops -->
    <footer class="p-1 bg-light fixed-bottom mt-4">
        <div class="container">
            <p class="text-center">Copyright &copy; app-Secrets 2024.</p>
        </div>
    </footer>
    <!-- Footer Section Stops -->

    <!-- Addition of Vendor Javascripts -->
    <div>
        <script src="{% static 'mysecret/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'mysecret/js/popper.js' %}"></script>
        <script src="{% static 'mysecret/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'mysecret/js/main.js' %}"></script>
    </div>
</body>
</html>