{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is a Portfolio project to fulfill the requirements to graduate from ALX Software Engineering Foundation classes to the Specialized Classes">
    <meta name="author" content="Ehigboria Dukeson Oserefuamen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>appSecrets{% if title %} | {{ title }} {% endif %}</title>
    <link rel="stylesheet" href="{% static 'mysecret/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'mysecret/css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'mysecret/imgs/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    