
    <!-- Header section Start -->
    <header class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
            <h1 class="display-1"><span id="blue-logo">app</span><span id="red-logo">Secrets</span></h1>
            <h2 class="display-4">The Best Place To Make Anonymous Your Plans And Secrets</h2>
            <p class="lead pb-4">We help you with a potential platoform where you keep your secrets so as not to forget moments, secrets and proposed plans that are dear to you.</p>
        </div>
    </header> 
    <!-- Header section Stops -->
